<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZwT" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Reset Password</h4>
                </div>
                <div class="card-body">
                    <!-- Email and OTP Form -->
                    <form id="resetForm" onsubmit="sendEmail(event)">
                        <label for="email" class="form-label">Email address</label>
                        <input id="resetEmail" name="resetEmail" type="text" placeholder="Email address" required />
                        <input id="submitButton" type="submit" value="Submit" />
                    </form>
                    
                    <!-- End Email and OTP Form -->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap JS (optional, for certain Bootstrap features) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
<!-- Your custom JavaScript to handle form submissions -->
<script src="../js/forgotEmail.js"></script>


<!-- Your custom JavaScript to handle form transitions -->
<script>
    // document.getElementById('sendButton').addEventListener('click', function () {
    //     document.getElementById('sendButton').style.display = 'none';
    //     document.getElementById('otpSection').style.display = 'block';
    //     document.getElementById('submitButton').style.display = 'block';
    // });
</script>

</body>
</html>
